  * {
          font-family: arial;
          background-color: blue;
          color: white;
        }
        
        h1, h2 {
          text-align: center;
        }
        h3{
          margin-left: 100px;
          margin-right: 100px;
        }
        p {
          margin-left: 100px;
          margin-right: 100px;
     
        }