* {
	color: black;
	font-family: 'Ovo', serif; 

}

#wordblock {
	background-color: white;
	opacity: 0.8;
  filter: alpha(opacity=80);
  margin-left: 1em;
  margin-right: 1em;
}

body {
	background: url("http://d13pix9kaak6wt.cloudfront.net/background/peterwashington_1343671564_44.jpg") ;
	background-color: black;
	background-size: 100%;
	background-repeat: no-repeat;
}

title {
	display: none;
}

#name {
	font-size: 1.5em;
	
}


.nav_bar {
	height: 1.5em;
	width: 100%;
	display: block;
	margin-left: -.5em;
	margin-right: -.5em;
	text-align: center;
	top: 0em;
	position: fixed;
	font-size: 2em;
	background-color: black;
	z-index: 1;
	border: solid black .5em;
	border-bottom: solid black 1.5em;

}


.nav_bar a:link {
	background-color: black;
	color: #C7AFBC;
	text-decoration: none;
}

.nav_bar a:visited {
	background-color: black;
	color: #C7AFBC;
	text-decoration: none;
}

.nav_bar a:hover {
	background-color: #965882;
	color: #091B21;
	text-decoration: none;
}

h1 {
  text-align: center;
  margin-top: 3.5em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h2 {
  text-align: center;
}

h4 {
  text-align: center;
  margin-bottom: 60px;
}

p {
  margin-left: 1em;
  margin-right: 1em;

}

.blogpic {
	margin-left: 100px;
}

h3 {
	margin-left: 100px;
}


#footer {
	background-color: black;
	bottom: 0;
	position: fixed;
	width: 100%;
	margin-left: -.5em;
	margin-right: -.5em;
	text-align: center;
	border-top: solid black .2em;
}

.extra_space {
	height: 3em;
}

li {
	margin-left: 6em;
	margin-right: 6em;
}


.code {
	font-family: monospace;
	background-color: gray;
	padding-color: gray;

}