* {
	background-color: #C7AFBC;
	color: #091B21;
	font-family: 'Ovo', serif; 

}

title {
	display: none;
}

#name {
	font-size: 1.5em;
	
}


.nav_bar {
	border: .25em solid #1E6882;
	background-color: #1E6882;
	height: 1.5em;
	width: 100%;
	display: block;
	margin-left: -.5em;
	margin-right: -.5em;
	text-align: center;
	top: 0em;
	position: fixed;
	font-size: 2em;

}


.nav_bar a:link {
	background-color: #1E6882;
	color: #C7AFBC;
	text-decoration: none;
}

.nav_bar a:visited {
	background-color: #1E6882;
	color: #C7AFBC;
	text-decoration: none;
}

.nav_bar a:hover {
	background-color: #965882;
	color: #091B21;
	text-decoration: none;
}

h1 {
  text-align: center;
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h2 {
  text-align: center;
}

h4 {
  text-align: center;
  margin-bottom: 60px;
}

p {
  margin-left: 100px;
  margin-right: 100px;

}

.blogpic {
	margin-left: 100px;
}

h3 {
	margin-left: 100px;
}


#footer {
	bottom: 0;
	position: fixed;
	width: 100%;
	margin-left: -.5em;
	margin-right: -.5em;
	text-align: center;
}

.extra_space {
	height: 3em;
}

li {
	margin-left: 6em;
	margin-right: 6em;
}

.bold {
	font-weight: bold;
}

.code {
	font-family: monospace;
	background-color: gray;
	padding-color: gray;

}