/*body*/

body {
  background-color: ivory;
}

.content {
  margin-top: 6em;
}

.content li {
  font-size: 1.5em;
}

.content .contact {
  margin-top: 3.5em;
  font-size: 5.2em;
  text-align: center;
}

.content .contact a:hover {
  color: black;
}

* {
  font-family: 'Ovo', serif; 
}

/*header*/
.container .header {
  background-color: Gainesboro;
  border-color: grey;
  font-size: 1.5em;
}

#name {
  font-size: 1.7em;
}

.navbar-default .header .navbar-nav li a:hover {
  color: black;
  background-color: LightGray;
}

.container .header li a:visited {
  color: black;
}

.container .header li a:link {
  color: black;
}

/*footer*/
.container .footer {
    font-size: 1.7em;
    background-color: ivory;
    border-color: ivory;
}

.navbar-default .footer .navbar-nav li a:hover {
  color: black;
}

.container .footer li a:visited {
  color: #337ab7;
}

.container .footer li a:link {
  color: #337ab7;
}

/*center header and footer*/ 
.navbar-nav{
  float:none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
}


