.container .header {
    background-color: SteelBlue;
    border-color: grey;

}


.container .footer {
    background-color: SteelBlue;
    border-color: grey;

}


body {
  background-color: ivory;
}

.content {
  margin-top: 5em;
}

* {
  font-family: 'Ovo', serif; 
}
