* {
	background-color: #C7AFBC;
	color: #091B21;
	font-family: 'Ovo', serif; 

}

title {
	display: none;
}

#name {
	font-size: 1.5em;
	
}


.nav_bar {
	border: .25em solid #1E6882;
	background-color: #1E6882;
	height: 1.5em;
	width: 100%;
	display: block;
	margin-left: -.5em;
	margin-right: -.5em;
	text-align: center;
	top: 0em;
	position: fixed;
	font-size: 2em;

}


a {
	text-decoration: none;
}

#Contact_Info a:link {
	background-color: #1E6882;
	color: #C7AFBC;
	text-decoration: none;
}



#Contact_Info a:visited {
	background-color: #1E6882;
	color: #C7AFBC;
	text-decoration: none;
}

#Contact_Info a:hover {
	background-color: #965882;
	color: #091B21;
	text-decoration: none;
}




.nav_bar a:link {
	background-color: #1E6882;
	color: #C7AFBC;
	text-decoration: none;
}

.nav_bar a:visited {
	background-color: #1E6882;
	color: #C7AFBC;
	text-decoration: none;
}

.nav_bar a:hover {
	background-color: #965882;
	color: #091B21;
	text-decoration: none;
}


#Contact_Info {
	border-top: .25em solid #1E6882
	bottom: 0;
	position: fixed;
	width: 110%;
	background-color: #1E6882;
	margin-left: -.5em;
	margin-right: -.5em;
}

.newline {
	display: block;
}

