.icon-block {
  padding: 0 15px;
}
footer .icon-block {
  font-size: inherit;
}

.dm-white {
  background-color: #D1EBE8;
}

.dm-white-text {
  color: #D1EBE8;
}

.dm-turquoise {
  background-color: #4B7a76;
}

.dm-turquoise-text {
  color: #4B7a76;
}

.dm-light-green {
  background-color: #28FFA2
}

.dm-light-green-text {
  color: #28FFA2
}

.dm-black{
  background-color: #140D10;
}

.dm-black-text{
  color: #140D10 !important;
}

.dm-purple {
  background-color: #755572;
}

.dm-hot-pink {
  background-color: #ee6e73 !important;
}

.dm-hot-pink-text {
  color: #ee6e73;
}


.dm-big-nav-font {
  font-size: 2.1em;
}

#headshot {
  height: 70%;
  width: 70%;
}

.contact-link i.fa:hover {
  color: #140D10;
}

footer.page-footer {
  background-color: #D1EBE8;
}
