.icon-block {
  padding: 0 15px;
}
footer .icon-block {
  font-size: inherit;
}

.dm-white {
  background-color: #ECEBEF;
}

.dm-white-text {
  color: #ECEBEF;
}

.dm-grey {
  background-color: #49484A;
}

.dm-grey-text {
  color: #49484A;
}

.dm-purple {
  background-color: #454AB2
}

.dm-purple-text {
  color: #454AB2
}

.dm-black{
  background-color: #140D10;
}

.dm-black-text{
  color: #140D10 !important;
}

.dm-big-nav-font {
  font-size: 2.1em;
}

#headshot {
  height: 70%;
  width: 70%;
}

.contact-link i.fa:hover {
  color: #140D10;
}

footer.page-footer {
  background-color: #ECEBEF;
}
